html{
    background-color: yellow;
}
header{
    background-color: blue;
    color:white ;
    padding: 5px;
}
footer{
    background-color: blue;
    color: white;
    padding: 25px;
}
aside{
    float: right;
    margin: 10px;
    width:  350px;
}
img{
    width: 300px;
    height: 200px;
}